:root {

  --bg-primary: rgb (244, 9, 9);
}

body,
body * {

  font-family: Arial, Helvetica, sans-serif;
}





a {


  text-decoration: none !important;
}

.bg-primary {
  background-color: var(--bg-primary) !important;
  color: white !important;
  padding: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  color: var(--bg-primary) !important;
}