.PlayListItem:hover .border {


    background-color: gainsboro;
    color: white;
}

.PlayListItem a {
    color: inherit !important;
}

.PlayListItem:hover {
    background-color: var(--bg-primary);
    color: white;
}

.PlayListItem .current {


    background-color: rgb(81, 81, 244) !important;
    color: white !important;
}

.navbar-brand {
    color: var(--bg-primary);
    font-weight: bold;
}

.PlayListItem .video-title strong {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}